body{
    
}
.user-img{
    width: 150px;
    height: 150px !important;
    border-radius: 50%;
}
.user-img-big{
    width: 250px;
    height: 250px !important;
    border-radius: 50%;
}
.border-primary{
    border: solid blue 1px;
}
.banner{
    
    height: 400px !important;
}